@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";


.App {
  text-align: center;
}

.rowStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}