@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";


.App {
  text-align: center;
}

.rowStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user_avatar {
  border-radius: 50%;
  width: 8vw;
}

.user_avatar_floating {
  border-radius: 50%;
  width: 7vw;
  position: absolute;
  top: 10px;
  left: 10px;
}
  
.login-page,
.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login,
.signup {
  background: #F4F4F4;
}